<mat-card [routerLink]="['/products/', product.id]">
    <mat-card-header>
        <mat-card-title 
            class="mdc-button"
        >{{ product.name }}</mat-card-title>
    </mat-card-header>

    <img class="mdc-button" [src]="product | productImage" [alt]="product.name">

    <mat-card-content class="mt-2">
        <small>SKU: {{ product.sku }}</small>
        <mat-chip-listbox>
            <mat-chip>
                <strong> $ {{product.price}} </strong>
            </mat-chip>
        </mat-chip-listbox>
    </mat-card-content>


</mat-card>
